p { 
    font-family: "Palatino", serif;font-size: 20px; font-style: normal; font-variant: normal; font-weight: 200; line-height: 21px; 
}
h1{
    font-family: "Times New Roman", Times, serif;
    color: black;
        
}
h2{
    font-family: "Times New Roman", Times, serif;
    color: black;
    
}
img {
  float: right;
}


    <style>
    body {
        background-image: url("css/bgimg1.jpg");
        background-color: #e6f2ff;
        }

        body {margin:0;}

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
          position: fixed;
          top: 0;
          width: 100%;
        z-index: 2
        }

        li {
          float: left;
        }

        li a {
          display: block;
          color: whitesmoke;
          text-align: center;
          padding: 14px 16px;
          text-decoration:none;
        }

        li a:hover:not(.active) {
          background-color: #121;
        }

        .active {
          background-color: #ff0000;
        }
        ol {
          list-style-type: upper-latin;
          margin: 0;
          padding: 0;
          overflow: hidden;
          position:static;
          bottom: auto;
          width: 100%;
            }
            
        lo{
            
    
        }
        
        button {
            
          margin: 1;
          padding: 0;
          overflow: hidden;
          background-color: #4da6ff;
          position: static;
          width: 8%;  
          display:block;
          color: black;
          text-align: center;
          padding: 15px 15px;
          text-decoration:none;
                
            }
        select{
                        
          margin: 1;
          padding: 0;
          overflow: hidden;
          background-color: bisque;
          position: static;
          width: 2.5%;  
          display:block;
          color: black;
          text-align: center;
          padding: 15px 15px;
          text-decoration:none;
    
    
    
            }
            
            
            
            
      
    </style>